.underline{
    font-family: Arial, serif;
    font-size: 24px;
    text-decoration: underline;
}



.hyperLink{
    font-family: "Times New Roman", serif;
    text-decoration: none;
    font-size: 28px;
    color: blue;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}